body{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(134, 171, 209);
    color: rgb(24, 24, 24);

}

nav{
    float: left;
    text-align: center;
    list-style-position: inside;
    font-size: large;
    border: 2px solid black;
    border-radius: 20px;
    background-color: rgba(86, 131, 175, 0.288);
    color: rgb(24, 24, 24);
    padding:25px;
}

.button{
    text-decoration: none;
    border: 2px solid red;
    color: maroon;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(134, 171, 209);
    box-shadow: 5px 5px 5px;
}
canvas{
    margin-top: 10pxng;
 user-select: none;
        touch-action: none;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        outline: none;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);


        
    border: 2px solid black;
     padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    
    
}